<div class="container col-md-12" id="hide-scroll">
  <div class="row top-spacing">

    <!-- LEFT PANEL APARTMENT DETAILS -->
    <div class="col-md-8 animated fadeInRight" Erase-style="border: 2px dashed green;">  

      <!-- APARTMENT DETAILS -->
      <div  class="col-md-11 col-md-offset-1">

        <!-- Subscriber Info -->
        <div class="row">

          <div class="col-md-6">
            <div class="panel panel-default panel-spacing">
              <div class="panel-heading" id="panel-heading-color">
                <a href='' data-target='.profile-edit-modal-md' data-toggle='modal' class="pull-right">Edit</a> 
                <h5 class="panel-title">Profile</h3>
              </div>
              <div class="panel-body">
                <h4>Company Name:  <strong>{{subscriber.company_name}}</strong> </h4>
                <h4>Address:</h4>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Street: </strong> {{subscriber.contact_address.street_address}}</li>
                  <li class="list-group-item"><strong>City: </strong> {{subscriber.contact_address.city}}</li>
                  <li class="list-group-item"><strong> State: </strong> {{subscriber.contact_address.state}}</li>
                  <li class="list-group-item"><strong>Zip: </strong> {{subscriber.contact_address.zip_code}} </li>
                </ul>
              </div> 
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default panel-spacing">
              <div class="panel-heading" id="panel-heading-color">
                <h3 class="panel-title">Account</h3>  
              </div>
              <div class="panel-body">
                <div ng-hide='subscriber.subscribed'>
                  <button class='btn btn-primary pull-right'>Setup</button>
                  <h4> Setup Subscription: </h4>
                </div>
              </div> 
            </div>
          </div>

        </div><!-- End of Apartment Discription Row -->

        <!-- APARTMENT INFO  -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default panel-spacing">
            <div ng-show='!showListings' class="panel-heading" id="panel-heading-color"> 
                <h3 class="panel-title">Listing Details: You Have No Listings</h3>
              </div>
              <div ng-show='showListings' class="panel-heading" id="panel-heading-color">
                <a href='' data-target='.listing-edit-modal-lg' data-toggle='modal' class="pull-right">Edit</a> 
                <h3 class="panel-title">Listing Details</h3>
              </div>
              <div ng-show='showListings' class="panel-body">
                <span class='pull-right'>
                  <strong>Posted: </strong> 
                  <span am-time-ago="listing.created_at"></span>
                </span>
                <h2 class="titles-styling bottom-border">{{listing.apartment_name}}</h2>

                <div class='row'>
                  <div class='col-md-6'>
                    <span>
                      <span>{{listing.address.street_address}}</span><br>
                      <span> {{listing.address.city}}, {{listing.address.state}} {{listing.address.zip_code}}</span></br>
                      <span>{{listing.phone}}</span><br>
                      <span><a href="http://{{modal_apartment.webpage}}" target="_blank">{{listing.webpage}}</a></span>
                      </span></br>
                  </div>

                  <div class="col-md-6 title">
                    <div class="panel panel-default rent-range-box">
                      <span> ${{listing.price_range.min}} to ${{listing.price_range.max}} </span>
                    </div></br>       
                  </div>
                </div> <!-- end of row -->

                <div class="show-scroll">
                  <div class=" panel panel-default picture-scroll">
                    <img class="img-thumbnail img-responsive img-size" ng-repeat="pic in listing.pictures_array" src="{{pic.src}}"/>
                  </div> 
                </div> <!-- End of picture area -->

                <div class='row'>
                  <div class='col-md-12'>
                    <div class="panel panel-default panel-spacing">
                      <div class="panel-heading" id="panel-heading-color">
                        <h3 class="panel-title">Apartment Description</h3>  
                      </div>
                      <div class="panel-body">
                        {{listing.description}}
                      </div> 
                    </div>

                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">
                      <span class="col-xs-3 col-md-3 char-left-alignment">Bedrooms</span>
                      <span class="col-xs-3 col-md-3">Bath</span>
                      <span class="col-xs-3 col-md-3">Sqrft</span>
                      <span class="col-xs-3 col-md-3">Monthly</span>
                    </div>

                    <div ng-repeat='unit in listing.units'  class="col-xs-12 col-md-12 char-left-alignment">
                      <span class="col-xs-3 col-md-3 char-left-alignment">{{unit.bedrooms}}</span>
                      <span class="col-xs-3 col-md-3 ">{{unit.bathrooms}}</span>
                      <span class="col-xs-3 col-md-3 ">{{unit.square_feet}}</span>
                      <span class="col-xs-3 col-md-3 ">$ {{unit.monthly_rent}}</span>
                    </div>

                  </div>
                </div><!-- End of Bedroom Details -->

                <!-- AMENITY DETAILS -->
                <div class="panel panel-default">
                  <div class="panel-body">

                    <div class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">
                      <div class="col-xs-3 col-md-3 char-left-alignment">Amenities</div>
                    </div>

                    <div class="col-xs-12 col-md-12 char-left-alignment amenity-content-spacing">
                      <p>
                          <span ng-show='listing.amenities.pet_friendly'>
                            <i class='fa fa-check-square-o'></i>
                            Pet Friendly
                          </span>
                          <span ng-show='listing.amenities.garage'>
                            <i class='fa fa-check-square-o'></i> Garage
                          </span>
                          <span ng-show='listing.amenities.pool'>
                            <i class='fa fa-check-square-o'></i>
                            Pool
                          </span>
                          <span ng-show='listing.amenities.gym'>
                            <i class='fa fa-check-square-o'></i>
                            Gym
                          </span>
                          <span ng-show='listing.amenities.washer_dryer'>
                            <i class='fa fa-check-square-o'></i>
                            Washer & Dryer
                          </span>
                      </p>
                      <span ng-show='listing.aditional_amenities'>Other: {{listing.aditional_amenities}}</span>
                    </div>

                  </div>
                </div><!-- End of Amenity Details -->

                  </div>
                </div>

              </div> 
            </div>         
          </div>
        </div>

      </div><!-- end of ng-show --> 
   
    </div><!-- END OF LEFT PANEL -->
   

    <!-- RIGHT PANEL APARTMENTS -->
    <div class="col-xs-12 col-md-4">
      <div class="well animated slideInRight" id="scrollArea"><!--Scroll-->
      
      <div class="col-md-12">  
        <a class="col-md-12 btn btn-primary btn-raised" href="/#/subscriber/verify-address"><i class="fa fa-plus edit-text-color"></i> <span>ADD A LISTING</span></a>
      </div>
      <!-- <div ng-show='!showListings'>
          <div class="col-md-12 list-group-border list-styling">
            <h4 class="titles-styling">Add A Listing To Have It Displayed Here</h4>

              <div class="row content-box-style">
                <a href='/#/subscriber/verify-address' class='col-md-12 btn btn-primary btn-raised'>
                  <i class='fa fa-plus edit-text-color'></i>
                  <span class='edit-text-color'></span>
                </a>
              </div>

            <div class="list-group-separator"></div>        
          </div>
        </div> -->

        <a ng-show='showListings' ng-repeat="apartment in listings" ng-click='selectListing(apartment)'>

          <div class="col-md-12 list-group-border list-styling">
            <h4 class="titles-styling">{{apartment.apartment_name}}</h4>

              <div class="row content-box-style">

                <span class="col-xm-6 col-sm-6 col-md-6 pic-container">
                  <span class="thumbnail thumb-sizing">
                    <img src="{{apartment.pictures_array[0].src}}" alt="images/no_image_placeholder.jpg">
                  </span>
                </span>

                <div class="col-xm-12 col-sm-6 col-md-6 details-font-size">
                  <p><br>
                    <span>{{apartment.address.street_address}}</span><br>
                    <span> {{apartment.address.city}}, {{apartment.address.state}}</span>
                  </p> 
                  <p>
                    <!-- <span class="price-text-size">${{apartment.rent_range.min}} to {{apartment.rent_range.max}}</span> -->
                  </p>
                </div>

              </div>

            <div class="list-group-separator"></div>        
          </div>
        </a>
        
      </div><!-- End Of Scroll -->
    </div><!-- END OF RIGHT PANEL -->
  </div><!-- End Of Row -->
</div>

<!-- Subscriber Edit Modal -->
<div class="modal animated bounceInDown profile-edit-modal-md" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body center-content">
          <div  class="col-xs-12 col-md-10">
            <h2 class="titles-styling bottom-border">Profile</h2>
            <div class='form-group'>
              <label for='editCompanyName'>Company Name</label>
              <input ng-model='editSubscriber.companyName' class='form-control input-lg' type='text' placeholder='Company Name' />
            </div>
            <div class='form-group'>
              <label for='editAddress'>Address</label>
              <input ng-model='editSubscriber.streetAddress' class='form-control' type='text' placeholder='Street' />
              <input ng-model='editSubscriber.city' class='form-control' type='text' placeholder='City' />
              <select ng-model='editSubscriber.state' ng-options='state for state in states' class='form-control'>
                <option value=''>{{editSubscriber.state}}</option>
              </select>
              <input ng-model='editSubscriber.zip' class='form-control' type='text' placeholder='Zipcode'/>
            </div>
            <button ng-click='saveProfile(editSubscriber.companyName, editSubscriber.streetAddress, editSubscriber.city, editSubscriber.state, editSubscriber.zip)' class='btn btn-success' data-dismiss='modal' aria-hidden='true' type='button'>Save</button>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Listing Edit Modal -->
<div class="modal animated bounceInDown listing-edit-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body center-content">
          <div  class="col-xs-12 col-md-10">
            <h2 class="titles-styling bottom-border">Listing</h2>
            <div class='form-group'>
              <label for='editListingName'>Listing Name</label>
              <input ng-model='editListing.apartment_name' class='form-control input-lg' type='text' placeholder='Listing Name' />
            </div>
            <div class='form-group'>
              <label for='editLocation'>Location</label>
              <input ng-model='editListing.address.street_address' class='form-control' type='text' placeholder='Street' />
              <input ng-model='editListing.address.city' class='form-control' type='text' placeholder='City' />
              <select ng-model='editListing.address.state' ng-options='state for state in states' class='form-control'>
                <!-- <option value=''>{{editListing.address.state}}</option> -->
              </select>
              <input ng-model='editListing.address.zip_code' class='form-control' type='text' placeholder='Zipcode'/>
            </div>
            <div class='form-group'>
              <label for='editLocation'>Contact</label>
              <input ng-model='editListing.phone_number' class='form-control' type='text' placeholder='Phone' />
              <input ng-model='editListing.webpage' class='form-control' type='text' placeholder='Webpage' />
            </div>
            <div class='form-group'>
              <label for='editPictures'>Pictures</label>
              <div class="show-scroll">
                <div class=" panel panel-default picture-scroll">
                  <img class="img-thumbnail img-responsive img-size" ng-repeat="pic in editListing.picturesArray" src="{{pic.src}}"/>

                </div>
              </div>
            </div>
            <div class='form-group'>
              <label for='editUnits'>Units</label>
              <div class="panel-body">

                <div class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">
                  <span class="col-xs-3 col-md-3 char-left-alignment">Bedrooms</span>
                  <span class="col-xs-3 col-md-3">Bath</span>
                  <span class="col-xs-3 col-md-3">SqrFt</span>
                  <span class="col-xs-3 col-md-3">Monthly</span>
                </div>

                <div ng-repeat='unit in editListing.units'  class="col-xs-12 col-md-12 char-left-alignment">
                  <span class="col-xs-3 col-md-3 char-left-alignment"><select ng-model='unit.bedrooms' ng-options='number for number in numbers'></select></span>
                  <span class="col-xs-3 col-md-3 "><select ng-model='unit.bathrooms' ng-options='number for number in numbers'></select></span>
                  <span class="col-xs-3 col-md-3 "><input ng-model='unit.square_feet'/></span>
                  <span class="col-xs-3 col-md-3 "><input ng-model='unit.monthly_rent'/></span>
                </div>

              </div>
            </div>
            <div class='form-group'>
              <label>Description</label>
              <textarea ng-model='editListing.description' class="form-control" rows="5"></textarea>
            </div>
            <div class='form-group'>
              <label>
                <input type='checkbox' id="inlineCheckbox" ng-model='editListing.amenities.pet_friendly' id='inlineCheckbox' ng-true-value='true' ng-false-value='false' /> Pet Friendly
              </label>
              <label>
                <input type='checkbox' id="inlineCheckbox" ng-model='editListing.amenities.garage' id='inlineCheckbox' ng-true-value='true' ng-false-value='false' /> Garage
              </label>
              <label>
                <input type='checkbox' id="inlineCheckbox" ng-model='editListing.amenities.pool' id='inlineCheckbox' ng-true-value='true' ng-false-value='false' /> Pool
              </label>
              <label>
                <input type='checkbox' id="inlineCheckbox" ng-model='editListing.amenities.gym' id='inlineCheckbox' ng-true-value='true' ng-false-value='false' /> Gym
              </label>
              <label>
                <input type='checkbox' id="inlineCheckbox" ng-model='editListing.amenities.washer_dryer' id='inlineCheckbox' ng-true-value='true' ng-false-value='false' /> Washer & Dryer {{editListing.amenities.pet_friendly}}
              </label>
            </div>
            <button ng-click='saveListing(editListing)' class='btn btn-success' data-dismiss='modal' aria-hidden='true' type='button'>Save</button>
          </div>
        </div>
    </div>
  </div>
</div>