
 <div class="center-content animated fadeInRight">
  <form flow-init="{target: '/api/subscriber/addApartmentPictures/' + apartment._id}" class="col-xs-12 col-md-10 col-lg-8">
    <div class="col-md-12">
      <h2 class="titles-styling top-spacing bottom-border listing-bottom-spacing">Add Listing Details</h2>
    </div>
    

      <!-- APARTMENT ADRESS -->
      <div class="col-md-5">
        <div class="panel panel-default panel-spacing">
          <div class="panel-heading" id="panel-heading-color">
            <h3 class="panel-title">Apartment Address</h3>  
          </div>
          <div class="panel-body">

            <!--Change to reflect dynamic -->
            <div class="col-md-12">
              <span>
                <h4>{{apartment.apartment_name}}</h4>
                <span>{{apartment.address.street_address}}</span><br>
                <span> {{apartment.address.city + ', ' + apartment.address.state + ' ' + apartment.address.zip_code}}</span></br>
              </span><br>
            </div>

          </div> 
        </div>

        <!-- PHONE AND WEBPAGE INFO -->
        <div class="panel panel-default panel-spacing">
          <div class="panel-heading" id="panel-heading-color">
            <h3 class="panel-title">Contact Details</h3>  
          </div>
          <div class="panel-body">

            <div class="input-group col-xs-12">
              <label for="state" class="sr-only"></label>
              <input type="text" ng-model="apartment.phone_number" class="form-control floating-label" placeholder="Phone Number" required>
            </div><br>

            <div class="input-group col-xs-12">
              <label for="zip_code" class="sr-only"></label>
              <input type="text" ng-model="apartment.webpage" class="form-control floating-label" placeholder="Web Page - Example: www.mywebpage.com" required>
            </div><br>

          </div> 
        </div>
      </div>


      <!-- APARTMENT DESCRIPTION //missing label--> <div class="col-md-7">
        <div class="panel panel-default panel-spacing">
          <div class="panel-heading" id="panel-heading-color">
            <h3 class="panel-title">Apartment Description <i>(600 Character Limit)</i></h3>  
          </div>
          <div class="panel-body">
            <textarea type="text" class="form-control floting-label description-bottom-spacing" ng-model="apartment.description"  rows="7" maxlength="600"></textarea>
          </div> 
        </div>
      </div>

      <!-- PICTURE UPLOAD BUTTON -->
      <div flow-files-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()] processFiles($files)" flow-file-success="$file.msg = $message">
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-body">

              <div class="form-group col-xs-12 col-md-12 char-left-alignment">
                <label class='control-label btn btn-primary btn-sm' ng-model="apartment.flow.files" for="pictures_array" flow-btn flow-attrs="{accept:'image/*'}">Add Photo</label>
                <span class="btn btn-primary btn-sm" flow-btn flow-attrs="{accept:'image/*'}">Upload File</span>
                <div class="col-lg-12 char-left-alignment">
                  <div class="quiet"><i>Only PNG, GIF, JPG, JEPG files allowed.<i></div>
                </div>
              </div>

            </div>
          </div>
        </div><!-- End of Upload button -->

        <!-- PICTURE DISPLAY AREA With FLOW-->
        <div ng-show="($flow.files.length)" class="col-md-12">
          <div class="show-scroll">
            <div class="panel panel-default flow-picture-scroll">

              <div class="img-thumbnail" ng-repeat="file in $flow.files">
                <img class="img-responsive img-size" flow-img="file"/>
                <div class="caption">
                  <a class="btn btn-xs btn-danger" ng-click="file.cancel()">Remove</a>
                  <span> {{file.name | limitTo:20}}{{ file.name.length > 20? "..." : ""}}</span>
                </div>
              </div>
              
            </div> 
          </div>
        </div>
      </div><!-- End of picture area -->

      <!-- APARTMENT BEDROOM DETAILS //Need an ng-repeat-->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">
              <span class="col-xs-3 col-md-3 char-left-alignment">Bedrooms</span>
              <span class="col-xs-2 col-md-2">Bath</span>
              <span class="col-xs-2 col-md-3">Sqrft</span>
              <span class="col-xs-3 col-md-3">Monthly</span>
              <span class="col-xs-1 col-md-1"></span>
            </div>

            <div class="col-xs-12 col-md-12 char-left-alignment" ng-repeat="unit in apartment.units">
              <span class="col-xs-3 col-md-3 char-left-alignment">{{unit.bedrooms}}</span>
              <span class="col-xs-2 col-md-2">{{unit.bathrooms}}</span>
              <span class="col-xs-2 col-md-3">{{unit.square_feet}}</span>
              <span class="col-xs-3 col-md-3">${{unit.monthly_rent}}</span>
              <a class="col-xs-1 col-md-1 quiet" ng-click="deleteUnit(unit)">X</a>

            </div>

            <!-- ADD UNIT - MODAL BUTTON -->
            <a class="col-xs-12 col-md-12 btn btn-primary btn-raised btn-sm" id="unit-button-spacing" data-target=".add-apartment-modal-lg" data-toggle="modal"><i class="fa fa-plus edit-text-color"></i><span class="edit-text-color"> Add A Unit<span></a>

          </div>
        </div>
      </div><!-- End of Bedroom Details -->

      <!-- AMENITY DETAILS //Add Labels for=""-->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">
              <div class="col-xs-3 col-md-3 char-left-alignment">Amenities</div>
            </div>

            <div class="col-xs-12 col-md-12 char-left-alignment amenity-content-spacing">

              <div class="checkbox col-md-12">
                <label class="col-xs-12 col-md-2">
                  <input type="checkbox" ng-model="apartment.amenities.pet_friendly" id="inlineCheckbox" ng-true-value="true" ng-false-value="false">  Pet Friendly
                </label>

                <label class="col-xs-12 col-md-2">
                  <input type="checkbox" ng-model="apartment.amenities.garage" id="inlineCheckbox" ng-true-value="true" ng-false-value="false"> Garage
                </label>

                <label class="col-xs-12 col-md-2">
                  <input type="checkbox" ng-model="apartment.amenities.pool" id="inlineCheckbox" ng-false-value="false" ng-true-value="true"> Pool
                </label>

                <label class="col-xs-12 col-md-2">
                  <input type="checkbox" ng-model="apartment.amenities.gym" id="inlineCheckbox" ng-false-value="false" ng-true-value="true"> Gym
                </label>

                <label class="col-xs-12 col-md-3">
                  <input type="checkbox" ng-model="apartment.amenities.washer_dryer" id="inlineCheckbox" ng-false-value="false" ng-true-value="true"> Washer and Dryer
                </label>
              </div><br>

              <div class="input-group col-xs-12">
                <label for="amenities_additional" class="sr-only"></label>
                <input type="text" ng-model="apartment.additional_amenities" class="form-control floating-label" placeholder="Additional Amenities <i>(100 Character Limit)</i>" maxlength="100">
              </div>               

            </div>

          </div>
        </div>
      </div><!-- End of Amenity Details -->

      <div class="col-md-12 center-content">
        <a type="submit" value="Add Listing" ng-click="addApartmentListing(apartment, $flow)" class="btn btn-primary">Add Listing</a>
      </div>
      
      <div class="col-md-12">
        <div class="bottom-border border-top-spacing"></div>
      </div>
      
  </form>
</div>

<!-- MODAL ADD UNIT MODAL-->
<div class="modal animated bounceInDown add-apartment-modal-lg" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <div class="row center-content">

        <!-- HEADING FOR APARTMENT DETAILS -->
        <form class="col-xs-11 col-md-10" >
          <h2 class="titles-styling listing-bottom-spacing bottom-border">Add A Unit</h2>

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="col-xs-12 col-md-12"><!-- Inner container sizing -->

                <!-- ADD APARTMENT UNIT COLUMNS -->
                <div class="col-xs-12 col-md-3 char-left-alignment">
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Bedrooms</span>
                  <div class="input-group col-xs-12 col-md-10 center-content">
                    <label for="bedrooms" class="sr-only"></label>
                    <select class="form-control" id="select" ng-model="unit.bedrooms">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>                    
                  </div> 
                </div>

                <div class="col-xs-12 col-md-3 char-left-alignment">
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Bathrooms</span>
                  <div class="input-group col-xs-12 col-md-10 center-content">
                    <label for="bathrooms" class="sr-only"></label>
                    <select class="form-control" id="select" ng-model="unit.bathrooms">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>                    
                  </div> 
                </div>

                <div class="col-xs-12 col-md-3 char-left-alignment row-bottom-spacing"> 
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Sqrft</span>
                  <label for="square_feet" class="sr-only"></label>
                  <input type="text" placeholder="####" ng-model="unit.square_feet" class="form-control" >
                </div>

                <div class="col-xs-12 col-md-3 char-left-alignment row-bottom-spacing">
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Monthly</span>
                  <label for="monthly_rent" class="sr-only"></label> 
                  <input type="text" ng-model="unit.monthly_rent" class="form-control" placeholder="####">
                </div>

              </div>
            </div>
          </div><!-- End of Panel -->

          <div class="center-content">
            <button ng-click="addUnit(unit)" type="button" ng-click="uploadFiles($flow)" class="btn btn-primary" data-dismiss="modal">Add Unit</button>
          </div>
          
          <div class="bottom-border border-top-spacing"></div>         

        </form><!-- End of Apartment Unit Details -->

      </div>
    </div>
  </div>
</div><!-- End of Modal -->

<script>
$(document).ready(function() {
    // This command is used to initialize some materialize elements and make them work properly
    $.material.init();
});
</script>

 