
<canvas id="doughnut" class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas>

<div class = 'adminMainContainer'>
  <div class = 'adminTopContainer'>
    <div class = 'adminTopHeaders'>
      <p> Apartment Registration Stats </p>
    </div>
    <div class = 'adminBottomContainer'>
      <p> The amount of Apartment Registrations compared by month. </p>
    </div>
  </div>
  <div class = 'adminTopContainer'>
    <div class = 'adminTopHeaders'>
      <p> General User Registration Stats </p>
    </div>
    <div class = 'adminBottomContainer'>
      <p> The amount of General User Registrations compared by month. </p>
    </div>
  </div>
  <div class = 'adminTopContainer'>
    <div class = 'adminTopHeaders'>
      <p> Users </p>
    </div>
    <div class = 'adminBottomContainer'>
      <p> The amount of Registered Apartment Users vs General Users. </p>
    </div>
  </div>
</div>

