<div class="navbar navbar-warning navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-style" href="#/">LightRail Connect</a>
    </div>
    <div class="navbar-collapse collapse navbar-warning-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/login/subscriber">Login Subscriber</a></li>
        <li><a href="#/myfavorites">My Favorites </a></li>
        <li><a href="#/register/general_user">Register GenUser</a></li>
        <li><a href="#/register/subscriber">Register/List An Apartment</a></li>
        <li><a href="#/register/admin">RegisterAdmin</a></li> <!-- temoprary -->
        <li><a href="#/login/admin">LoginAdmin</a></li> <!-- temoprary -->
<!--         <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Action</a></li>
            <li><a href="javascript:void(0)">Another action</a></li>
            <li><a href="javascript:void(0)">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Dropdown header</li>
            <li><a href="javascript:void(0)">Separated link</a></li>
            <li><a href="javascript:void(0)">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
        <form class="navbar-form navbar-left">
          <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/login">Login GenUser</a></li>
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Future action</a></li>
            <li><a href="javascript:void(0)">Future action</a></li>
            <li><a href="javascript:void(0)">Future action</a></li>
            <li class="divider"></li>
            <li><a href="javascript:void(0)">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>