<div class="container col-md-12" id="hide-scroll">
  <div class="row top-spacing">

    <!-- LEFT PANEL -->
    <div ng-show="listMode" class="col-md-8 animated fadeInLeftBig map-position" Erase-style="border: 2px dashed green;">
      <div>Something Here</div>
    </div>

    <!-- LEFT PANEL APARTMENT DETAILS -->
    <div ng-show="!listMode" class="col-md-8 animated fadeInRight" Erase-style="border: 2px dashed green;">  

      <!-- APARTMENT DETAILS -->
      <div  class="col-md-11 col-md-offset-1">
        <h2 class="titles-styling">{{apartment.apartment_name}}</h2>
        <div class="row">
          <div class="col-md-6">
            <span>
              <strong>Location:</strong> 
              <span> {{apartment.location.city + ', ' + apartment.location.state + ', ' + apartment.location.country}}</span>
            </span></br>
            <span>
              <strong>Posted:</strong> 
              <span am-time-ago="apartment.date_created"></span>
            </span></br>
          </div>

          <div class="col-md-6 title">
            <div class="panel panel-default budget-box">
              <span> ${{apartment.rent_range.min}} to {{apartment.rent_range.max}} </span>
            </div></br>       
          </div>

        </div><!-- End of Row -->

        <!-- APARTMENT DISCRIPTION -->
        <div class="row">
          <div class="col-md-12">
        
            <div class="panel panel-default panel-spacing">
              <div class="panel-heading" id="panel-heading-color">
                <h3 class="panel-title">Apartment Description</h3>  
              </div>
              <div class="panel-body">
                {{apartment.description}}
              </div> 
            </div>

            <div class="panel panel-default">
              <div class="panel-body">

                <div class="col-md-6 char-left-alignment">  
                  <p>
                    <strong>Info Here:</strong>
                  </p>
                </div><!-- End of 3rd Row 1st Column -->

                <div class="col-md-6">
                  <p>
                    <strong>Info Here</strong>
                  </p>
                </div><!-- End of 3rd Row 2nd Column -->

              </div><!-- End of panel-body -->
            </div>
          
          </div>
        </div><!-- End of Apartment Discription Row -->

        <!-- APARTMENT INFO  -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default panel-spacing">
              <div class="panel-heading" id="panel-heading-color">
                <h3 class="panel-title">Apartment Information</h3>  
              </div>
              <div class="panel-body">
              <p>
                <strong>Info Here:</strong>
              </p> 
              </div> 
            </div>         
          </div>
        </div>
        


      <div>
        <a href="#/" class="btn btn-flat btn-primary"><i class="fa fa-arrow-left fa-lg"> Return To Map</i></a>
      </div>

      </div><!-- end of ng-show -->
   
    </div><!-- END OF LEFT PANEL -->


   
    <!-- RIGHT PANEL -->
    <div class="col-md-4">
      <div class="well" id="scrollArea"><!--Scroll-->

        <a ng-repeat="apartments in apartments" ng-href="#/apartments/{{apartments.apartmentId}}">
          <div class="col-md-12 list-group-border list-styling">
            <h4 class="titles-styling">{{apartments.apartment_name}}</h4>

              <div class="row content-box-style">

                <span class="col-xm-6 col-sm-6 col-md-6 pic-container">
                  <span class="thumbnail thumb-sizing">
                    <img src="images/{{apartments.picture}}" alt="...">
                  </span>
                </span>

                <div class="col-xm-12 col-sm-6 col-md-6 details-font-size">
                  <p><br>
                    <span>{{apartments.location.street_address}}</span><br>
                    <span> {{apartments.location.city + ', ' + apartments.location.state}}</span>
                  </p> 
                  <p>
                    <span class="price-text-size">${{apartments.rent_range.min}} to {{apartments.rent_range.max}}</span>
                  </p>

                </div>
                
              </div>

            <div class="list-group-separator"></div>        
          </div>
        </a>
        
      </div><!-- End Of Scroll -->
    </div><!-- END OF RIGHT PANEL -->
  </div><!-- End Of Row -->
</div>








