<!-- MODAL -->
<div class="modal animated bounceInDown add-apartment-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <div class="row center-content">

        <!-- HEADING FOR APARTMENT DETAILS -->
        <div  class="col-xs-11 col-md-10">
          <h2 class="titles-styling listing-bottom-spacing bottom-border">Add A Unit</h2>

          <div class="panel panel-default">
            <div class="panel-body">

              <div class="col-xs-12 col-md-12"><!-- Inner container sizing -->

                <!-- ADD APARTMENT UNIT COLUMNS -->
                <div class="col-xs-12 col-md-3 char-left-alignment">
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Bedrooms</span>
                  <div class="input-group col-xs-12 col-md-10 center-content">
                    <label for="bedrooms" class="sr-only"></label>
                    <select class="form-control" id="select" No-ng-model="">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>                    
                  </div> 
                </div>

                <div class="col-xs-12 col-md-3 char-left-alignment">
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Bathrooms</span>
                  <div class="input-group col-xs-12 col-md-10 center-content">
                    <label for="bathrooms" class="sr-only"></label>
                    <select class="form-control" id="select" No-ng-model="">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>                    
                  </div> 
                </div>

                <div class="col-xs-12 col-md-3 char-left-alignment row-bottom-spacing"> 
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Sqrft</span>
                  <label for="square_feet" class="sr-only"></label>
                  <input type="text" class="form-control floating-label" placeholder="#,###">
                </div>

                <div class="col-xs-12 col-md-3 char-left-alignment row-bottom-spacing">
                  <span class="col-xs-12 col-md-12 char-left-alignment titles-bottom-border">Monthly</span>
                  <label for="monthly_rent" class="sr-only"></label> 
                  <input type="text" class="form-control floating-label" placeholder="#,###">
                </div>

              </div>
            </div>
          </div><!-- End of Panel -->
          <div class="bottom-border border-top-spacing"></div>         

        </div><!-- End of Apartment Unit Details -->

      </div>
    </div>
  </div>
</div>