<div class="modal animated bounceInDown profile-edit-modal-md" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body center-content">
          <div  class="col-xs-12 col-md-10">
            <h2 class="titles-styling bottom-border">Profile</h2>
            <div class='form-group'>
              <label for='editCompanyName'>Company Name</label>
              <input ng-model='editSubscriber.companyName' class='form-control input-lg' type='text' placeholder='Company Name' />
            </div>
            <div class='form-group'>
              <label for='editAddress'>Address</label>
              <input ng-model='editSubscriber.streetAddress' class='form-control' type='text' placeholder='Street' />
              <input ng-model='editSubscriber.city' class='form-control' type='text' placeholder='City' />
              <select ng-model='editSubscriber.state.name' ng-options='state.name for state in states' class='form-control'>
                <option value=''>{{editSubscriber.state.name}}</option>
              </select>
              <input ng-model='editSubscriber.zip' class='form-control' type='text' placeholder='Zipcode'/>
            </div>
            <button ng-click='saveProfile(editSubscriber.companyName, editSubscriber.streetAddress, editSubscriber.city, editSubscriber.state.name, editSubscriber.zip)' class='btn btn-success' data-dismiss='modal' aria-hidden='true' type='button'>Save</button>
          </div>
        </div>
    </div>
  </div>
</div>