<div class="modal animated bounceInDown listing-edit-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body center-content">
          <div  class="col-xs-12 col-md-10">
            <h2 class="titles-styling bottom-border">Listing</h2>
            <div class='form-group'>
              <label for='editListingName'>Listing Name</label>
              <input ng-model='editListing.apartment_name' class='form-control input-lg' type='text' placeholder='Listing Name' />
            </div>
            <div class='form-group'>
              <label for='editLocation'>Location</label>
              <input ng-model='editListing.address.street' class='form-control' type='text' placeholder='Street' />
              <input ng-model='editListing.address.city' class='form-control' type='text' placeholder='City' />
              <select ng-model='editListing.address.state' ng-options='state.name for state in states' class='form-control'>
                <option value=''>{{editListing.address.state}}</option>
              </select>
              <input ng-model='editListing.address.zip' class='form-control' type='text' placeholder='Zipcode'/>
            </div>
            <div class='form-group'>
              <label for='editLocation'>Contact</label>
              <input ng-model='editListing.phone_number' class='form-control' type='text' placeholder='Phone' />
              <input ng-model='editListing.website' class='form-control' type='text' placeholder='Webpage' />
            </div>
            <div class='form-group'>
              <label for='editPricing'>Pricing $</label>
              <input ng-model='editListing.price_range.min' class='form-control' type='text' placeholder='Minimum' />
              <input ng-model='editListing.price_range.max' class='form-control' type='text' placeholder='Maximum' />
            </div>
            <div class='form-group'>
              <label for='editPictures'>Pictures</label>
              <div class="show-scroll">
                <div class=" panel panel-default picture-scroll">
                  <img class="img-thumbnail img-responsive img-size" ng-repeat="pic in editListing.picturesArray" src="{{pic.src}}"/>

                </div>
              </div>
            </div>
            <div class='form-group'>
              <label>Description</label>
              <textarea ng-model='editListing.description' class="form-control" rows="5"></textarea>
            </div>
            <button ng-click='saveListing(editListing.listingName, editListing.location, editListing.phone, editListing.webpage, editListing.rentRange, editListing.picturesArray, editListing.description)' class='btn btn-success' data-dismiss='modal' aria-hidden='true' type='button'>Save</button>
          </div>
        </div>
    </div>
  </div>
</div>