
<span class="center-content form-title-top-spacing">


  <form ng-submit="registerAdmin(user)" class="col-xs-12 col-md-8">
    <h3 class="title">Registration Admin</h3><br>
    <div class="container panel panel-default col-sm-12 .col-md-12">

      <div class="panel-body form-panel-top-spacing">

        <div class="input-group col-xs-12">
          <label for="email" class="sr-only"></label>
          <input type="email" ng-model="user.email" class="form-control floating-label" id="form-input-underline" placeholder="Email" required>
        </div><br>

        <div class="input-group col-xs-12">
          <label for="password" class="sr-only"></label>
          <input type="password" ng-model="user.password" class="form-control floating-label" id="form-input-underline" placeholder="Password" required>
        </div><br>
        <div class="input-group col-xs-12">
            <label for="confirm_password" class="sr-only"></label>
            <input type="password"  class="form-control floating-label" id="form-input-underline" placeholder="Confirm Password" required>
        </div><br>
      </div>

      <div class="center-content">
        <input type="submit" value="Register" class="btn btn-success">
      </div><br>

    </div>
  </form>

</span>

<script>
  $(document).ready(function() {
    // This command is used to initialize some materialize elements and make them work properly
    $.material.init();
  });
</script>